@model SuperheroManager.Models.Superhero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-3">
            <span>Name</span>
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-3">
            <span>Alter Ego</span>
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>
        <dt class="col-md-3">
            <span>Primary Superpower</span>
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.PrimarySuperheroAbility)
        </dd>
        <dt class="col-md-3">
            <span>Secondary Superpower</span>
        </dt>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.SecondarySuperheroAbility)
        </dd>
        <dt class="col-md-3">
            <span>Catchphrase</span>
        <dd class="col-md-9">
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
